table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: var(--text);

}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--border);
}

thead {
    background: var(--bg-dark);
}

th {
    color: var(--gold);
    font-weight: 600;
}

tbody tr:hover {
    background: rgba(255, 255, 255, 0.05);
    transition: 0.2s ease;
}