body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #ee0c0c;
}




.roulette-container {
  text-align: center;
  margin-top: 50px;
  position: relative;
}


.roulette-segment {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
  color: white;
}

.roulette-segment.red {
  background-color: #b20000;
}

.roulette-segment.black {
  background-color: #14eaf1;
}

.roulette-segment.green {
  background-color: #008000;
}

